*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    text-align: center;
}
.container{
    margin: 160px 0 0 120px;
}
h1 {
    font-size: 100px;

}

input {
    width: 100px;
    height: 100px;

}

.row{
    width: 100%;
    height: 60px;
}
.one,.two,.three,.four,.five,.six{
    margin: 10px 0 0 0;
}

.btn {
    /*width: 50px;
    height: 50px;
    font-size: 15px;
    border-radius: 80px;
    margin: 10px;
    background-color: rgb(255, 139, 226);
    color: rgb(44, 0, 43);*/

    color: aliceblue;
    width: 55px;
    height: 55px;
    border: none;
    background: coral;
    box-shadow: 5px 5px 10px rgb(237, 235, 235), -5px -5px 10px #0000;
    font-size: 20px;
    margin-left: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20%;
}

